.welcomeMsg{
  background-color: green;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.errorMsg{
  background-color: red;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}